body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Rio_de_janeiro_1889_00.jpg/1200px-Rio_de_janeiro_1889_00.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    display: flex;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-weight: bolder;
    margin-bottom: 0;
    color: #ffffff;
}

h2 {
    font-style: italic;
    margin-top: 0;
    font-size: 20px;
    color: #ffffff;
}

h3 {
    font-weight: bold;
    color: #ffffff;
}

.container {
    background-color: #0000007a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 5%;
    width: 85%;
}

p {
    text-align: justify;
    text-indent: 50px;
    margin: 2px;
    color: #ffffff;
}

.texto {
    width: 75%;
    column-count: 3;
    margin-bottom: 20px;
}