body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(pokeball.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
    overflow: hidden;
}

.cenario {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.cenario img {
    width: 55%;
    border: 10px solid #000000;
}

.personagem {
    position: relative;
    width: 80px;
    height: 80px;
    left: 71%;
    top: 50%;
    animation: move 120s infinite;
    z-index: 999;
    border-radius: 50%;
}

@keyframes move {
    0% {
        left: 71%;
    }
    5% {
        left: 65%;
        top: 50%;
    }
    10% {
        left: 65%;
        top: 36%;
    }
    15% {
        left: 48%;
        top: 36%;
    }
    20% {
        left: 48%;
        top: 30%;
    }
    25% {
        left: 30%;
        top: 30%;
    }
    30% {
        left: 30%;
        top: 45%;
    }
    35% {
        left: 39%;
        top: 45%;
    }
    40% {
        left: 39%;
        top: 38%; 
    }
    45% {
        left: 39%;
        top: 45%;
    }
    50% {
        left: 30%;
        top: 45%;
    }
    55% {
        left: 30%;
        top: 30%;
    }
    60% {
        left: 48%;
        top: 30%;
    }
    65% {
        left: 48%;
        top: 30%;
    }
    70% {
        left: 48%;
        top: 36%;
    }
    75% {
        left: 65%;
        top: 36%;
    }
    80% {
        left: 65%;
        top: 50%;
    }
    100% {
        left: 71%;
    }
}

.personagem-2 {
    position: relative;
    width: 30px;
    height: 30px;
    left: 39%;
    top: 30%; 
    background: #ff9900;
    animation: moveP2 120s infinite;
    z-index: 998;
    border-radius: 50%;
}

@keyframes moveP2 {
    0% {
        left: 39%;
        top: 30%;
    }
    49% {
        left: 39%;
        top: 30%;
    }
    50% {
        left: 39%;
        top: 37%;
    }
    56.25% {
        left: 30%;
        top: 37%;
    }
    62.5% {
        left: 30%;
        top: 20%;
    }
    68.75% {
        left: 49%;
        top: 20%;
    }
    75% {
        left: 49%;
        top: 36%;
    }
    77% {
        left: 49%;
        top: 27%;
    }
    81.25% {
        left: 65%;
        top: 27%;
    }
    87.5%{
        left: 65%;
        top: 44%;
    }
    100% {
        left: 69%;
        top: 44%;
    }
}

.animation {
    height:27px;
    width:22px;
    background:url(red-sprite.png) -0px -68px no-repeat;
    animation: walk 500ms steps(3) infinite;
}

@keyframes walk {
    100% {
        background-position-x: -68px;
    }
}