body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(pokeball.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
    overflow: hidden;
}

.cenario {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.cenario img {
    width: 55%;
    border: 10px solid #000000;
}

.personagem-l {
    position: relative;
    width: 27px;
    height: 27px;
    left: 71%;
    top: 51%;
    animation: move-l 120s infinite;
    z-index: 999;
    border-radius: 50%;
}

@keyframes move-l {
    0% {
        left: 71%;
        top: 51%;
        opacity: 1;
    }
    6.25% {
        left: 65.5%;
        top: 51%;
        opacity: 1;
    }
    6.35% {
        opacity: 0;
    }
    12.5% {
        left: 65.5%;
        top: 33%;
        opacity: 0;
    }
    12.6% {
        opacity: 1;
    }
    18.75% {
        left: 48.5%;
        top: 33%;
        opacity: 1;
    }
    18.85% {
        opacity: 0;
    }
    25% {
        left: 48.5%;
        top: 25%;
        opacity: 0;
    }
    25.1% {
        opacity: 1;
    }
    31.25% {
        left: 30.5%;
        top: 25%;
        opacity: 1;
    }
    31.35% {
        opacity: 0;
    }
    37.5% {
        left: 30.5%;
        top: 44%;
        opacity: 0;
    }
    43.75% {
        left: 39.5%;
        top: 44%;
        opacity: 0;
    }
    50% {
        left: 39.5%;
        top: 39%;
        opacity: 0;
    }
    56.25% {
        left: 39.5%;
        top: 44%;
        opacity: 0;
    }
    56.35% {
        opacity: 1;
    }
    62.5% {
        left: 30.5%;
        top: 44%;
        opacity: 1;
    }
    62.6% {
        opacity: 0;
    }
    68.75% {
        left: 30.5%;
        top: 25%;
        opacity: 0;
    }
    75% {
        left: 48.5%;
        top: 25%;
        opacity: 0;
    }
    81.25% {
        left: 48.5%;
        top: 33%;
        opacity: 0;
    }
    87.5% {
        left: 65.5%;
        top: 33%;
        opacity: 0;
    }
    93.75% {
        left: 65.5%;
        top: 51%;
        opacity: 0;
    }
    100% {
        left: 75.5%;
        top: 51%;
        opacity: 1;
    }
}

.personagem-r {
    position: relative;
    width: 27px;
    height: 27px;
    left: 71%;
    top: 48%;
    animation: move-r 120s infinite;
    z-index: 998;
    border-radius: 50%;
}

@keyframes move-r {
    0% {
        left: 71%;
        top: 48%;
        opacity: 0;
    }
    6.25% {
        left: 65.5%;
        top: 48%;
        opacity: 0;
    }
    6.35% {
        opacity: 0;
    }
    12.5% {
        left: 65.5%;
        top: 30%;
        opacity: 0;
    }
    12.6% {
        opacity: 0;
    }
    18.75% {
        left: 48.5%;
        top: 30%;
        opacity: 0;
    }
    18.85% {
        opacity: 0;
    }
    25% {
        left: 48.5%;
        top: 22%;
        opacity: 0;
    }
    31.25% {
        left: 30.5%;
        top: 22%;
        opacity: 0;
    }
    37.5% {
        left: 30.5%;
        top: 41%;
        opacity: 0;
    }
    37.6% {
        opacity: 1;
    }
    43.75% {
        left: 39.5%;
        top: 41%;
        opacity: 1;
    }
    43.85% {
        opacity: 0;
    }
    50% {
        left: 39.5%;
        top: 36%;
        opacity: 0;
    }
    50.1% {
        opacity: 0;
    }
    56.25% {
        left: 39.5%;
        top: 41%;
        opacity: 0;
    }
    62.5% {
        left: 30.5%;
        top: 41%;
        opacity: 0;
    }
    68.75% {
        left: 30.5%;
        top: 22%;
        opacity: 0;
    }
    68.85% {
        opacity: 1;
    }
    75% {
        left: 48.5%;
        top: 22%;
        opacity: 1;
    }
    75.1% {
        opacity: 0;
    }
    81.25% {
        left: 48.5%;
        top: 30%;
        opacity: 0;
    }
    81.35% {
        opacity: 1;
    }
    87.5% {
        left: 65.5%;
        top: 30%;
        opacity: 1;
    }
    87.6% {
        opacity: 0;
    }
    93.75% {
        left: 65.5%;
        top: 48%;
        opacity: 0;
    }
    100% {
        left: 75.5%;
        top: 48%;
        opacity: 0;
    }
}

.personagem-t {
    position: relative;
    width: 27px;
    height: 27px;
    left: 71.2%;
    top: 45.26%;
    animation: move-t 120s infinite;
    z-index: 997;
    border-radius: 50%;
}

@keyframes move-t {
    0% {
        left: 71.2%;
        top: 45.26%;
        opacity: 0;
    }
    6.25% {
        left: 65.7%;
        top: 45.26%;
        opacity: 0;
    }
    6.35% {
        opacity: 1;
    }
    12.5% {
        left: 65.7%;
        top: 27.26%;
        opacity: 1;
    }
    12.6% {
        opacity: 0;
    }
    18.75% {
        left: 48.7%;
        top: 27.26%;
        opacity: 0;
    }
    18.85% {
        opacity: 1;
    }
    25% {
        left: 48.7%;
        top: 19.26%;
        opacity: 1;
    }
    25.1% {
        opacity: 0;
    }
    31.25% {
        left: 30.7%;
        top: 19.26%;
        opacity: 0;
    }
    37.5% {
        left: 30.7%;
        top: 38.26%;
        opacity: 0;
    }
    43.75% {
        left: 39.7%;
        top: 38.26%;
        opacity: 0;
    }
    43.85% {
        opacity: 1;
    }
    49.1% {
        opacity: 0;
    }
    50% {
        left: 39.7%;
        top: 33.26%;
        opacity: 0;
    }
    
    56.25% {
        left: 39.7%;
        top: 38.26%;
        opacity: 0;
    }
    62.5% {
        left: 30.7%;
        top: 38.26%;
        opacity: 0;
    }
    62.6% {
        opacity: 1;
    }
    68.75% {
        left: 30.7%;
        top: 19.26%;
        opacity: 1;
    }
    68.85% {
        opacity: 0;
    }
    75% {
        left: 48.7%;
        top: 19.26%;
        opacity: 0;
    }
    81.25% {
        left: 48.7%;
        top: 27.26%;
        opacity: 0;
    }
    87.5% {
        left: 65.7%;
        top: 27.26%;
        opacity: 0;
    }
    93.75% {
        left: 65.7%;
        top: 45.26%;
        opacity: 0;
    }
    100% {
        left: 75.7%;
        top: 45.26%;
        opacity: 0;
    }
}

.personagem-b {
    position: relative;
    width: 27px;
    height: 27px;
    left: 71.12%;
    top: 42.48%;
    animation: move-b 120s infinite;
    z-index: 996;
    border-radius: 50%;
}

@keyframes move-b {
    0% {
        left: 71.12%;
        top: 42.48%;
        opacity: 0;
    }
    6.25% {
        left: 65.6%;
        top: 42.48%;
        opacity: 0;
    }
    12.5% {
        left: 65.5%;
        top: 24.48%;
        opacity: 0;
    }
    18.75% {
        left: 48.6%;
        top: 24.48%;
        opacity: 0;
    }
    25% {
        left: 48.6%;
        top: 16.48%;
        opacity: 0;
    }
    31.25% {
        left: 30.6%;
        top: 16.48%;
        opacity: 0;
    }
    31.35% {
        opacity: 1;
    }
    37.5% {
        left: 30.6%;
        top: 35.48%;
        opacity: 1;
    }
    37.6% {
        opacity: 0;
    }
    43.75% {
        left: 39.6%;
        top: 35.48%;
        opacity: 0;
    }
    50% {
        left: 39.6%;
        top: 30.48%;
        opacity: 0;
    }
    50.1% {
        opacity: 1;
    }
    56.25% {
        left: 39.6%;
        top: 35.48%;
        opacity: 1;
    }
    56.35% {
        opacity: 0;
    }
    62.5% {
        left: 30.6%;
        top: 35.48%;
        opacity: 0;
    }
    68.75% {
        left: 30.6%;
        top: 16.48%;
        opacity: 0;
    }
    75% {
        left: 48.6%;
        top: 16.48%;
        opacity: 0;
    }
    75.1% {
        opacity: 1;
    }
    81.25% {
        left: 48.6%;
        top: 24.48%;
        opacity: 1;
    }
    81.35% {
        opacity: 0;
    }
    87.5% {
        left: 65.6%;
        top: 24.48%;
        opacity: 0;
    }
    87.6% {
        opacity: 1;
    }
    93.75% {
        left: 65.6%;
        top: 42.48%;
        opacity: 1;
    }
    93.85% {
        opacity: 0;
    }
    100% {
        left: 75.6%;
        top: 42.48%;
        opacity: 0;
    }
}

.animation-l {
    width: 27px;
    height: 27px;
    background:url(red-sprite.png) 0px -68px no-repeat;
    animation: walk 500ms steps(3) infinite;
}

.animation-r {
    width: 24px;
    height: 27px;
    background:url(red-sprite.png) -6px -101px no-repeat;
    animation: walk 500ms steps(3) infinite;
}

.animation-t {
    width: 27px;
    height: 27px;
    background:url(red-sprite.png) 0px -32px no-repeat;
    animation: walk 500ms steps(3) infinite;
}

.animation-b {
    width: 24px;
    height: 27px;
    background:url(red-sprite.png) 5px 0px no-repeat;
    animation: walk 500ms steps(3) infinite;
}

@keyframes walk {
    100% {
        background-position-x: -68px;
    }
}