html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mais-vendidos {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.titulo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mais-vendidos h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.mais-vendidos h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    font-style: italic;
}

.carrossel img {
    height: 180px;
    object-fit: cover;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);;
    transform-origin: center;
    transform: perspective(800px) rotateY(25deg);
    transition: 0.5s;
}

.ladoB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

.ladoB img{
    width: 20%;
}

#img1, #img2, #img3, #img4, #img5,
#img6, #img7, #img8, #img9, #img10 {
    height: 180px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

#img11, #img12, #img13 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.capa {
    height: 180px;
}

.text {
    margin-top: 25px;
    width: 415px;
    height: 50px;
    display: none;
    color: #000;
    font-weight: bolder;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
}

.text label {
    text-align: center;
}

.text label:nth-child(even) {
    color: #f00;
}

#img1:hover .text {
    display: flex;
}

#img2:hover .text {
    display: flex;
}

#img3:hover .text {
    display: flex;
}

#img4:hover .text {
    display: flex;
}

#img5:hover .text {
    display: flex;
}

#img6:hover .text {
    display: flex;
}

#img7:hover .text {
    display: flex;
}

#img8:hover .text {
    display: flex;
}

#img9:hover .text {
    display: flex;
}

#img10:hover .text {
    display: flex;
}

#img11:hover .text {
    display: flex;
}

#img12:hover .text {
    display: flex;
}

#img13:hover .text {
    display: flex;
}

#img14:hover .text {
    display: flex;
}


.carrossel {
    max-width: 600px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.carrosselA {
    display: flex;
    margin-left: 70px;
    top: 90px;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.carrosselA-2 {
    display: flex;
    margin-left: 70px;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.carrossel:hover img {
    opacity: 0.3;
}

.carrossel img:hover {
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
}

.section {
    height: 100vh;
}

.section:nth-child(odd) {
    background: #d4dad4;
}

.title {
    background-image: url(https://vinylgif.com/gifs/201411/spinning-vinyl-1.gif);
    background-size: cover;
}

ul {
    width: 100%;
    background: #000;
    height: 50px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    letter-spacing: 0;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

ul li {
    list-style: none;
}

ul li a {
    color: #fff;
    line-height: 50px;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.historia-vinil {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.HistLadoA {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    flex-direction: row;
    justify-content: center;
}

strong {
    text-transform: uppercase;
}

.info-ladoA1 {
    text-align: justify;
    width: 100%;
    justify-content: flex-start;
    position: relative;
    top: 75px;
}

.info-ladoA2 {
    text-align: justify;
    width: 100%;
    justify-content: flex-start;
    position: relative;
    top: 75px;
}

.info-ladoA1 p {
    padding-bottom: 15px;
    margin: 0;
}

.info-ladoA2 {
    
}

.info-criador {
    display: flex;
    flex-direction: row;
    width: 45%;
    position: relative;
    text-align: justify;
}

.info {
    display: flex;
    text-align: justify;
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 50px;
}

.info-disco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: justify;
    width: 45%;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin-right: 40px;
  }
  .card {
    position: sticky;
    width: 300px;
    height: 350px;
    background: #000000;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(136, 132, 132, 0.2);
  }
  .card:before,
  .card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #0f0c0c;
    transition: 0.5s;
    z-index: -1;
  }
  .card:hover:before {
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  }
  .card:hover:after {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  }
  .card .imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #070505;
    transition: 0.5s;
    z-index: 1;
  }
  .card:hover .imgBx {
    bottom: 80px;
  }
  .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
  }
  .card .details h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
  }
  .card .details h2 span {
    font-weight: 500;
    font-size: 16px;
    color: #f38695;
    display: block;
    margin-top: 5px;
  }

.boxVinil {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 50px;
    flex-direction: row;
}

.cardVinil {
    position: sticky;
    width: 200px;
    height: 240px;
    background: #000000;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(136, 132, 132, 0.2);
}
.cardVinil:before,
.cardVinil:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #0f0c0c;
    transition: 0.5s;
    z-index: -1;
}
.cardVinil:hover:before {
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.cardVinil:hover:after {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.cardVinil .imgBxVinil {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #ff0000;
    transition: 0.5s;
    z-index: 1;
}
.cardVinil:hover .imgBxVinil {
    bottom: 80px;
}
.cardVinil .imgBxVinil img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardVinil .detailsVinil {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}
.cardVinil .detailsVinil h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 12px;
    color: #777;
    text-transform: uppercase;
}
.cardVinil .detailsVinil h2 span {
    font-weight: 500;
    font-size: 10px;
    color: #f38695;
    display: block;
    margin-top: 5px;
}

.mais-caros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.mais-caros h1 {
    font-size: 50px;
}

.discos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.discos-2 {
    margin-top: 10px;
}

.card-price {
    position: relative;
    width: 220px;
    height: 380px;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
}

.card-price::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #d4dad4;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card-price:hover::before {
    top: -70%;
    transform: scaleY(390deg);
}

.card-price::after {
    content: "LP";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6rem;
    color: #5353535d;
}

.card-price .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card-price .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card-price .contentBox h3 {
    font-size: 15px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.card-price .contentBox .price {
    font-size: 15px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.card-price .contentBox .ouvir {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: #fbff00;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card-price:hover .contentBox .ouvir {
    top: 0;
    opacity: 1;
}

.discos-covers {
    height: 200px;
    width: auto;
}

.Bside {
    background-image: url(https://vejasp.abril.com.br/wp-content/uploads/2016/12/xuxa3.jpg);
}

.queda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.paragraf-1, .paragraf-2 {
    width: 55.5%;
    text-align: justify;
}

.paragraf-1 {
    margin-bottom: 70px;
}

.paragraf-2 {
    margin-top: 70px;
}

.comparacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comparacao h3 {
    font-size: 40px;
    color: #000;
    font-style: italic;
}

.col-1, .col-2, .col-3, .col-4 {
    width: 191px;
    margin: 30px;
    text-align: center;
    border-style: outset;
    border-radius: 100%;
    border-width: 10px;
    border-color: #000 ;
    padding: 35px;
    background-color: #f5f5f55d;
}